.bitcount-single-ink {
  font-family: "Bitcount Single Ink", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}

.rampart-one-regular {
  font-family: "Rampart One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rock-3d-regular {
  font-family: "Rock 3D", system-ui;
  font-weight: 400;
  font-style: normal;
}

.shizuru-regular {
  font-family: "Shizuru", system-ui;
  font-weight: 400;
  font-style: normal;
}

.yuji-syuku-regular {
  font-family: "Yuji Syuku", serif;
  font-weight: 400;
  font-style: normal;
}

.inder-regular {
  font-family: "Inder", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-item {
  cursor: pointer;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 768px) {
  .photo-grid img {
    width: 100%;
    height: auto;
  }
}

.cat-pic-container {
  height: 315px;
  display: flex;
}

.cat-pic-container img {
  display: flex;
  width: 200px;
  margin: auto;
}